*.o
*.d
*.gcno
*.gcda
*.gcov
*.so

*.ppm
*.png
*.jpg
*.mp4

!assets/*.png
!assets/textures/minecraft/*.png
!assets/skyboxes/*.jpg

raytracer
unit-tests
*.zip
*.bin

.DS_Store
.idea
.vscode/c_cpp_properties.json
a.out

scores
imgui.ini
todo
screenshots/*.png
test.*

assets/skyboxes/local/*.jpg
assets/obj/local/*.obj
assets/obj/local/*.png
assets/textures/local/*.jpg
assets/textures/local/*.png
assets/obj/local/*

scenes/local/*.cfg
scenes/quick_save.cfg
scenes/temp.cfg
config/keys.cfg

doc/*
