*.o
*.d
*.gcno
*.gcda
*.gcov
*.so

*.ppm
*.png
*.jpg

!assets/*.png
!assets/skyboxes/*.jpg

raytracer
unit-tests
*.zip
*.bin

.DS_Store

scores

.vscode/c_cpp_properties.json
a.out
test.cpp

imgui.ini
todo
screenshots/*.png

assets/skyboxes/local/*.jpg
scenes/quick_save.cfg
config/keys.cfg
